.body{
    width: 1510px;
    height: 710px;
    background: url(logo123.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    color: #fffcfc;
}
.h{
    width: 1510px;
    height: 60px;
   color: #f6f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m{
    width: 1510px;
    height: 500px;

    margin-left: 25px;
}
.f{
    width: 1510px;
    height: 1cqmax;
    
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1000px;
    margin-bottom: 100px;
}