.body{
    height: 1500px;
    width: 150px;
    background-color: rgb(232, 18, 171);
    position: relative;
    top: 30px;
}
.c1{
    height: 50px;
    width: 150px;
    background-color: brown;
    position: sticky;
    top: 10px;
}
.c2{
    height: 50px;
    width: 150px;
    background-color: rgb(201, 201, 45);
    position: relative;
}
.c3{
    height: 50px;
    width: 150px;
    background-color: rgb(19, 171, 171);
    position: fixed;
}
.d{
    height: 1500px;
    width: 150px;
    background-color: rgb(241, 158, 32);
}